body {
  margin: 0;
  padding: 0;
  background-color: purple;
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
}

header {
  padding: 130px 0 50px 0;
  width: 100%;
  background-image: url("images/bg_body.gif");
}

.logo {
  margin: 0 auto 120px auto;
  display: block;
}

nav {
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
  font-size: 20px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0;
  margin: 0 43px 0 43px;
}

nav a {
  text-decoration: none;
  color: #aaa9ac;
}

.active {
  color: #6db9ff;
  font-weight: bold;
}


main {
  margin: 0;
  padding: 120px 0 130px 0;
  text-align: center;
  background-color: #fff;
  color: #45494d;
}

h2 {
  font-size: 28px;
  font-weight: normal;
}

h3 {
  font-weight: normal;
  font-size: 20px;
  color: #3e59b2;
  margin: 40px 0 20px 0;
}

.founder {
  margin: 150px 0 55px 0;
}

main p {
  line-height: 1.5;
  width: 780px;
  margin: 0 auto;
}

img.app {
  margin: 35px 0 0 0;
}

img.moment {
  margin: 110px 0 20px 0;
}

img.map {
  margin: 110px 0 20px 0;
}

main ul {
  list-style: none;
}

main li {
  display: inline-block;
  margin: 130px 30px 0 30px;
}

main li a {
  text-decoration: none;
}

.grey-layer {
  height: 100%;
  width: 100%;
  z-index: 2;
  float: right;
  background-color: rgba(0, 0, 0, 0.5);
}

section img {
  display: inline;
}

footer {
  background-color: #e7e7e7;
  margin: 0;
  padding: 85px 0 75px 0;
}

footer p {
  margin: 0;
  padding: 0;
  color: #b2b2b2;
  text-align: center;
}

footer ul {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 679px;
}

footer li {
  display: inline-block;
  padding: 40px 60px 0 60px;
}

footer li a {
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
  display: block;
  height: 46px;
  overflow: hidden;
  list-style: none;
  width: 46px;
}

footer li a.twitter-logo {
  background-position: 0 0;
}

footer li a.facebook-logo {
  background-position: 0 -46px;
}

footer li a.email-logo {
  background-position: 0 -92px;
}

footer li a.instagram-logo {
  background-position: 0 -138px;
}
